//Variables
$primary: #388E3C;
$secondary: #C8E6C9;
$tertiary: #f0f0f0;
$textColor: #212121;

$buttonColor: #8BC34A;

$red: rgb(221, 1, 1);
$yellow: rgb(223, 219, 0);
$green: rgb(16, 192, 0);

$border: 10px;

// Global
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Itim', cursive;
}

h1 { font-size: 40px; color: $textColor; }
h2 { font-size: 35px; color: $textColor; }
h3 { font-size: 25px; color: $textColor; }
p { font-size: 18px; color: $textColor; }

input, select, textarea {
    font-size: 18px;
    padding: 5px;
    margin-bottom: 5px;
    color: $textColor;
}

.d-none { display: none; }

// Buttons
button, select, input[type="submit"], input[type="reset"] {
    color: $textColor;
    border-radius: $border;
    padding: 10px 5px;
    font-size: 20px;
    cursor: pointer;
}

.Button_list {
    border: 2px solid $textColor;
    background-color: $buttonColor;
    padding: 10px 20px;

    &:hover {
        color: $secondary;
    }
}

.Delete, .Button_cancel {
    color: $red;
    border: 2px solid $red;
    background-color: transparent;

    &:hover {
        background-color: $red;
        border: 2px solid transparent;
        color: $tertiary;
    }
}

.Button_trasparent {
    background-color: transparent;
    border: none;

    &:hover {
        background-color: transparent;
        border: none;
    }
}

.Button_add {
    border: 2px solid $textColor;
    background-color: transparent;

    &:hover {
        background-color: $buttonColor;
        border: 2px solid $buttonColor;
    }
}

// Body
body {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: min(100vw);

    background-color: $tertiary;

    main {
        display: block;

        padding: 20px 0 20px 10px;

        .Task_list {
            display: inherit;
            padding: 0 0 0 10px;
            
            .Task {
                display: block;
                
                border: 2px solid black;
                border-radius: $border;

                padding: 5px;
                margin: 10px 0;

                h3 { margin-bottom: 10px; }
                button { margin-top: 10px; }
            }

            .Low { box-shadow: -5px 0 $green, 10px 0 $green; }
            .Medium { box-shadow: -5px 0 $yellow, 10px 0 $yellow; }
            .High { box-shadow: -5px 0 $red, 10px 0 $red; }
        }
    }

    nav {
        display: block;
        justify-self: end;
        background-color: $primary;

        padding: 20px 5px;
        height: 100%;

        .List_list {
            display: grid;
        }
    }

    .Form_create_task {
        position: fixed;
        top: 10%;
        right: 50%;

        width: 400px;
        height: auto;

        background-color: $secondary;
        border-radius: $border;
        padding: 10px;

        box-shadow: 20px 20px 10px $textColor;

        div {
            display: flex;
            flex-direction: column;
        }
    }
}

// Footer
footer {
    background-color: $primary;
    
    width: 100%;
    height: 5vw;
    padding: 20px;

    display: flex;
    align-items: end;
    justify-content: end;

    position: fixed;
    bottom: 0;

    a {
        color: $textColor;
        text-decoration: none;
        font-size: 25px;
    }
}